html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.website-overflow-wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
        -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}